<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Analytics</title>
    <link rel="stylesheet" href="../styles/analytics.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <body>
        <div class="app">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <a href="../template/todolist.html" class="sidebar-link">ToDo</a>
                    <a href="../template/analytics.html" class="sidebar-link">Analytics</a>
                    <a href="../template/people.html" class="sidebar-link">People</a>
                    <a href="../template/notfound.html" class="sidebar-link">Products</a>
                    <a href="../template/notfound.html" class="sidebar-link">Settings</a>
                </nav>
            </div>
            <div class="page">
                <div class="topbar">
                    <input class="topbar-search"placeholder="Search"></input>
                    <button class="dark-mode-btn">Night mode</button>
                    <button class="logout-btn">Logout</button>
                </div>
                <div class="container">
                    <div class="info">
                        <h1 class="title">
                            Analytics
                        </h1>
                    </div>
                    <div class="graphics">
                        <div class="chart-container"><canvas class="chart1" width="600" height="400"></canvas></div>
                        <div class="chart-container"><canvas class="chart2" width="600" height="400"></canvas></div>
                        <div class="chart-container"><canvas class="chart3" width="600" height="400"></canvas></div>
                        <div class="chart-container"><canvas class="chart4" width="600" height="400"></canvas></div>
                        <div class="chart-container"><canvas class="chart5" width="600" height="400"></canvas></div>
                    </div>
                    <div class="tables">
                        <div class="manager-table"></div>
                        <div class="product-table"></div>
                    </div>
            </div>
        </div>
        
        <script src="../scripts/analytics.js"></script>
        <script src="../scripts/globalactions.js"></script>
    </body>
</html>