<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Landing Page</title>
        <link rel="stylesheet" href="../styles/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    </head>
    <body>
        <header class="navigation">
            <div class="logo">Vaccination.ng</div>
                <nav>
                <ul>
                    <li class="home-link">Home<span class="dot"></span></li>
                    <li>Services</li>
                    <li>Schedule</li>
                    <li>Contact us</li>
                </ul>
                </nav>
            <button class="check-btn">Check Status</button>
        </header>
        <main>
        <section class="banner">
            <div class="banner-items">
                <div class="banner-container">
                    <div class="banner-container-info">
                        <div class="banner-container-info-title">
                            <p>Get Vaccinated. Boost your Immune System</p>
                        </div>
                        <div class="banner-container-info-subtitle">
                            <p>COVID-19 Vaccination
                                Got Easier With,
                                Vaccination.ng</p>
                        </div>
                        <div class="banner-container-info-text">
                            <p>Vaccination.ng will help you find the nearest
                                centre for vaccination, in all 36 states in Nigeria.</p>
                        </div>
                    </div>
                    <div class="banner-container-btn">
                       <button class="banner-btn-vaccine">Get Vaccine</button>
                        <button class="banner-btn">Help Centre</button>
                    </div>
                </div>
                <div class="banner-images">
                    <div class="banner-image-hand">
                        <img src="../images/doctor.png"/>
                        <img src="../images/covid.png"/>
                    </div>
                    <div class="banner-image-info">
                        <div class="banner-image-specs">
                        <img class="banner-image-spec" src="../images/spec1.png">
                        <img class="banner-image-spec" src="../images/spec2.png">
                        <img class="banner-image-spec" src="../images/spec3.png">
                        </div>
                        <div class="banner-image-text">
                        <p>20+ Specialists</p>
                        </div>
                    </div>
                </div>
                    
            </div>
                <div class="banner-schedule">
                    <div class="banner-schedule-title">
                        <img src="../images/clock.png"/>
                        <p>Schedule your Vaccination</p>
                    </div>
                    <div class="banner-schedule-info">
                        <div class="banner-schedule-info-category">
                            <img class="banner-schedule-info-sign" src="../images/map-pin.png">
                            <div class="banner-schedule-info-text">
                                <p class="banner-schedule-category-name">Location</p>
                                <p class="banner-schedule-category-value">Ikeja Lagos, Nigeria</p>
                            </div>
                        </div>
                        <div class="banner-schedule-info-category">
                            <img class="banner-schedule-info-sign" src="../images/calendar.png">
                            <div class="banner-schedule-info-text">
                                <p class="banner-schedule-category-name">Date</p>
                                <p class="banner-schedule-category-value">29 February, 2022</p>
                            </div>
                        </div>
                        <div class="banner-schedule-info-category">
                            <img class="banner-schedule-info-sign" src="../images/shield.png">
                            <div class="banner-schedule-info-text">
                                <p class="banner-schedule-category-name">Vaccine Type</p>
                                <p class="banner-schedule-category-value">Mordena</p>
                            </div>
                        </div>
                        <button class="banner-schedule-btn">Submit</button>
                    </div>
                    <div class="sponsors">
                        <img src="../images/moderna.png">
                        <img src="../images/pfizer.png">
                        <img src="../images/astrazeneca.png">
                        <img src="../images/sinovac.png">
                    </div>
                </div>
        </section>
        <section class="check">
            <div class="check-container">
                <div class="check-container-title">
                    <p>Check your COVID-19 result on our Database</p>
                </div>
                <div class="check-container-info">
                    <div class="check-container-info-input">
                        <p>Okeowo</p>
                    </div>
                    <div class="check-container-info-niknum">
                        <p>NIK Number</p>
                    </div>
                    <button class="check-container-info-btn">Check</button>
                </div>
                <div class="check-container-text">
                    <p>Need a certificate for your COVID-19 result? Please click here</p>
                </div>
            </div>
        </section>
        <section class="reasons">
            <div class="reasons-title">
                <p class="reasons-title-text">Why get vaccinated
                    today?</p>
                <p class="reasons-title-subtext">Magna adipiscing at elit at ornare lectus nibh lorem. 
                    Ac, sed ac lorem pellentesque vestibulum risus matti. 
                    In molestie condimentum malesuada non.</p>
            </div>
            <div class="reasons-info">
                <div class="reasons-info-protect">
                    <img src="../images/shield.png">
                    <p class="reasons-info-protect-title">Protects your immune 
                        system against viruses</p>
                    <p class="reasons-info-protect-text">Velit ut consectetur mauris, orci amet, 
                        faucibus. 
                        Sit turpis fringilla ipsum pretium,
                        dictum. Dolor eget vel nulla lorem ac.
                    </p>
                    <p class="reasons-info-protect-readmore">Read More -></p>
                </div>
                <div class="reasons-info-page">
                    <img src="../images/people.png">
                    <p class="reasons-info-page-title">Minimize the spread
                        of the Virus</p>
                    
                    <p class="reasons-info-page-readmore">Read More -></p>
                </div>
                <div class="reasons-info-page">
                    <img src="../images/thermometer.png">
                    <p class="reasons-info-page-title">Protect yourself</p>
                    
                    <p class="reasons-info-page-readmore">Read More -></p>
                </div>
            </div>
        </section>
        <section class="registration">
            <div class="reg-container">
                <div class="reg-form">
                    <p class="reg-form-title">Get your vaccine 
                        registration today</p>
                    <p class="reg-form-text">Patient’s Full Name</p>
                    <div class="reg-form-name">
                        <input placeholder="Full name"></input>
                    </div>
                    <p class="reg-form-text">Mobile Number</p>
                    <p class="reg-form-subtext">Notifications for appointment and reminders will be sent to this 
                        provided number</p>
                    <div class="reg-form-num">
                        <div class="reg-phone-box">
                            <img src="../images/flag.png" class="reg-flag">
                            <div class="divider"></div>
                            <input placeholder="Phone number"></input>
                        </div>
                        <button class="reg-form-verify-btn">Verify</button>
                    </div>
                    <button class="reg-form-submit-btn">Submit</button>
                    <div class="reg-form-check">
                    <p class="reg-form-subtext">Already registered ? </p>
                    <p class="reg-check-status">Check your status</p>
                </div>
                </div>
                
            </div>
            <div class="reg-images">
                <img src="../images/covid2.png" class="reg-image">
                <div class="reg-image-texts">
                    <p class="reg-image-text">COVID-19
                        Vaccine</p>
                    <button class="reg-image-btn">Verify Status</button>
                </div>
            </div>
        </section>
        <section class="symptoms">
            <div class="symptoms-text">
                <p class="symptoms-title">Covid-19 Prevention</p>
                <p class="symptoms-subtitle">COVID-19 Symptoms</p>
                <p class="symptoms-subtext">Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit.
                    Mi vestibulum, ullamcorper venenatis imperdiet augue arcu donec neque.</p>
                <img src="../images/dude.png">
            </div>
        </section>
        <section class="feedback">
            <p class="feedback-title">FEEDBACK</p>
            <p class="feedback-subtitle">What our Patients Think</p>
            <p class="feedback-subtext">Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit.
                Mi vestibulum, ullamcorper venenatis imperdiet augue arcu donec neque.</p>
            <div class="customer-feedbacks">
                <div class="feedback-card">
                    <div class="customer">
                        <img src="../images/cus1.png" class="customer-image">
                        <div class="customer-info">
                            <p class="customer-name">Oyindamola Maja</p>
                            <p class="customer-location">Badagry, Lagos</p>
                    </div>
                    </div>
                    <p class="feedback-text">“Been stressing about a close centre
                        to get the covid-19 vaccine, until
                        i tried Vaccination.ng”</p>
                </div>
                <div class="feedback-card-special">
                    <div class="customer">
                        <img src="../images/cus2.png" class="customer-image">
                        <div class="customer-info">
                            <p class="customer-name-special"> Okeowo Lekan</p>
                            <p class="customer-location-special">Ikeja, Lagos</p>
                    </div>
                    </div>
                    <p class="feedback-text-special">“Got my vaccine very close to my house.
                        Was very easy scheduling
                        an appointment.”</p>
                </div>
                <div class="feedback-card">
                    <div class="customer">
                        <img src="../images/cus3.png" class="customer-image">
                        <div class="customer-info">
                            <p class="customer-name">Kafaru Temitope</p>
                            <p class="customer-location">Obanikoro, Lagos</p>
                    </div>
                    </div>
                    <p class="feedback-text">“Been stressing about a close centre
                        to get the covid-19 vaccine, until
                        i tried Vaccination.ng”</p>
                </div>
            </div>
            <div class="feedback-quote">
                <p class="quote-title">
                    Get a quote
                </p>
                <p class="quote-subtitle">
                    Please do enter your email address below
                </p>
                <div class="quote-input">
                    <input placeholder="lenux.ng@gmail.com"></input>
                    <div class="quote-arrow">
                        <img src="../images/send.png">
                    </div>
            </div>
        </section>
        </main>
        <footer class="footer">
            <div class="logo">Vaccination.ng</div>
                <nav>
                <ul>
                    <li class="home-link">Home</li>
                    <li>Services</li>
                    <li>Schedule</li>
                    <li>Contact us</li>
                </ul>
                </nav>
                <ul class="footer-soc-links">
                    <li><a href=""><img src="../images/youtube.png"></a></li>
                    <li><a href=""><img src="../images/instagram.png"></a></li>
                    <li><a href=""><img src="../images/twitter.png"></a></li>
                    <li><a href=""><img src="../images/facebook.png"></a></li>
                </ul>
        </footer>
    </body>
</html>