<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=480px" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    
    <body>
        <div class="page">
            <h1 class="title">
                Today
            </h1>
            <div class="category">
                <h2 class="category-name">DESIGN</h2>
                <ul class="category-tasks" id="design">
                    <li class="task" draggable="true">
                        <div class="checkbox"></div>
                        <p class="task-name">Create icons for a dashboard</p>
                    </li>
                    <li class="task" draggable="true">
                        <div class="checkbox"></div>
                        <p class="task-name">Plan your meal</p>
                    </li>
                </ul>
            </div>
            <div class="category">
                <h2 class="category-name">PERSONAL</h2>
                <ul class="category-tasks" id="personal">
                    <li class="task" draggable="true">
                        <div class="checkbox"></div>
                        <p class="task-name">Review daily goals before sleeping. Add some new if time permits</p>
                    </li>
                </ul>
            </div>
            <div class="add-task">
                <input class="add-task-input" placeholder="Write a task...">
                <button class="add-task-btn">Add</button>
            </div>
        </div>
        <script src="../scripts/script.js"></script>
    </body>
</html>
