* {
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 

}

.login-container {
    width: 400px;
    height: 300px;
    background-color: #F3EFEE;
    border-radius: 12px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-btn {
    width: 77px;
    height: 56px;
    border-radius: 12px;
    background-color: #393433;
    color: #F9F5F4;
    font-size: 18px;
    cursor: pointer;
}