body {
    background-image: url(../images/background.jpg);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  

.logo {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #17c2ec;
    text-underline-offset: 6px; 
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
}

.navigation nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
  
.navigation nav ul li {
    font-size: 24px;
    color: #fff;
}

.home-link {
    position: relative;
    font-weight: bold;    
}

.home-link .dot {
    display: block;
    width: 10px;
    height: 10px;
    background: #17c2ec;
    border-radius: 50%;
    margin: 6px auto 0;
}

.check-btn {
    background: rgba(255, 255, 255, 0.1);
    color: #17c2ec;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.banner {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 5%;
    margin-top: 60px;
}

.banner-items {
    display: flex;
    flex-direction: row;
    gap: 150px;
    
}


.banner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.banner-container-info-title {
    color: #17c2ec;
    font-size: 24px;
    font-weight: bold;
}

.banner-container-info-subtitle {
    color: #fff;
    font-size: 48px;
    font-weight: bolder;
}

.banner-container-info-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-weight: bold;
}

.banner-container-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.banner-btn {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border: solid #17c2ec;
    border-radius: 12px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.banner-btn-vaccine {
    background: rgba(255, 255, 255, 0.1);
    background-color: #17c2ec;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border: solid #17c2ec;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.banner-images {
    position: relative;
}

.banner-image-hand {
    background-color: #17c2ec;
    background-image: url(../images/hand.png);
    width: 450px;
    height: 450px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
}

.banner-image-hand img {
    background-color: #fff;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.banner-image-info {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: 5px;
    border-radius: 20px;
    padding: 20px;
    top: 400px;
    left: -40px;
    gap: 10px;
    margin: 0px;
}

.banner-image-specs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.banner-image-spec {  
    width: 70px;
    height: 70px;
    border-radius: 10px;
    
}

.banner-image-text {
    color: #fff;
    font-size: 24px;
}

.banner-schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
}

.banner-schedule-title {
    display: flex;
    flex-direction: row;
    color: #17c2ec;
    font-size: 24px;
    font-weight: bold;
    gap: 20px;
}

.banner-schedule-title img {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    
}

.banner-schedule-title p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.banner-schedule-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 0 0;
    padding: 30px 40px 30px 40px;
    width: 95%;

}

.banner-schedule-info-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.banner-schedule-info-category img {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.banner-schedule-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}


.banner-schedule-category-name {
    color: #fff;
    margin: 0;
}

.banner-schedule-category-value {
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.banner-schedule-btn {
    background: rgba(255, 255, 255, 0.1);
    background-color: #17c2ec;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border: solid #17c2ec;
    border: none;
    border-radius: 12px;
}

.sponsors {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 40px 0;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.sponsors img {
    width: auto;
    height: auto;
    object-fit: contain;
    max-height: 100px;
}

.check {
    padding: 1.5rem 5%;
    margin-top: 20px;
}

.check-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 100%;
    padding-bottom: 20px;
}

.check-container-title {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);;
    border-radius: 20px 20px 0 0;
    margin: 0;
    width: 100%;
}

.check-container-title p {
    padding: 1.5rem 5%;
    margin: 0;
}

.check-container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 5%;
    gap: 20px;
    width: 90%;
    justify-content: space-between;
    
}

.check-container-info-input {
    border: solid #17c2ec;
    border-radius: 20px;
    padding: 10px 20px;
    flex: 1;
}

.check-container-info-input p {
    color: #fff;
    font-size: 1.5em;
    font-weight: medium;

    margin: 0;
}

.check-container-info-niknum {
    border: solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    flex: 1;
}

.check-container-info-niknum p {
    color: #fff;
    font-size: 1.5em;
    font-weight: medium;
    margin: 0;
}

.check-container-info-btn {
    flex: 0 0 100px;
    background: rgba(255, 255, 255, 0.1);
    color: #17c2ec;
    font-weight: bold;
    padding: 10px 25px;
    border: solid #17c2ec;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.check-container-text {
    color: #17c2ec;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.reasons-title {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 5%;
}

.reasons-title-text {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    flex: 0 0 auto;
    max-width: 40%;
}

.reasons-title-subtext {
    color: rgba(255, 255, 255, 0.5);
    font-size: 19px;
    font-weight: normal;
    line-height: 1.6;
    flex: 1;
    padding-top: 0.5rem;
}

.reasons-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0 5%;
    gap: 50px;
    margin-bottom: 50px;
}

.reasons-info-protect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 50px 20px 20px;
    padding: 30px;
    width: 350px;
}

.reasons-info-protect img {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
}

.reasons-info-protect-title {
    color: #17c2ec;
    font-size: 24px;
}

.reasons-info-protect-text {
    color: #fff;
    font-size: 18px;
}

.reasons-info-protect-readmore {
    color: #17c2ec;
    font-size: 18px;
}

.reasons-info-page {
    border: solid #fff;
    border-radius: 50px;
    padding: 30px;
    width: 200px;
    height: 200px;
}
.reasons-info-page img {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
}

.reasons-info-page-title {
    color: #fff;
    font-size: 22px;
}

.reasons-info-page-readmore {
    color: #fff;
    font-size: 18px;
}


.registration  {
    background-image: url(../images/background2.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.reg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 5%;
    width: 100%;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem 5%;
}

.reg-form-title {
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.reg-form-text {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.reg-form-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.reg-form-name input {
    width: 100%;
    padding: 20px 24px;
    background-color: #e5e7eb;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    color: #6b7280;
    outline: none;
}

.reg-form-subtext {
    color: black;
    font-size: 20px;
    font-weight: regular;
    margin-top: 10px;
}

.reg-form-verify-btn {
    background: rgba(255, 255, 255, 0.1);
    background-color: #17c2ec;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border: solid #17c2ec;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reg-form-submit-btn {
    background: rgba(255, 255, 255, 0.1);
    background-color: #17c2ec;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border: solid #17c2ec;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    width: 100%;
}

.reg-form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.reg-check-status {
    color: #17c2ec;
    font-size: 20px;
    margin-top: 10px;
}

.reg-form-num {
    display: flex;
    align-items: center;
    gap: 12px;
}

.reg-phone-box {
    display: flex;
    align-items: center;
    background: #e5e7eb;
    border-radius: 12px;
    padding: 20px 24px;
    width: 300px;
}

.reg-flag {
    width: 24px;
    height: 16px;
    
}

.divider {
    width: 1px;
    height: 20px;
    background: #263238;
    margin: 0 8px;
}

.reg-phone-box input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 24px;
    color: #e5e7eb;
}

.reg-images {
    display: flex;
    background-image: url(../images/hand2.png);
    background-repeat: no-repeat;
    background-color: #0b153c;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1.5rem 5%;
    width: 250px;
    height: 450px;
    margin-right: 150px;
}

.reg-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    transform: translate(-170px, -150px);
}

.reg-image-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reg-image-text {
    color: #fff;
    font-size: 1.5em;
    transform: translate(30px, -350px);
}

.reg-image-btn {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px 25px;
    color: #fff;
    font-size: 1.5em;
    width: 250px
}



.symptoms-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding-left: 400px;
    padding-right: 400px;
}

.symptoms-title {
    color: #fff;
    font-size: 24px;
}

.symptoms-subtitle {
    color: #fff;
    font-size: 48px;
}

.symptoms-subtext {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
}

.feedback {
    background-image: url(../images/bottle.png);
    background-repeat: repeat-x;
    background-color: #fff;
    background-size: calc(100% / 3) auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-title {
    color: #17c2ec;
    font-size: 24px;
    font-weight: bold;
}

.feedback-subtitle {
    color: black;
    font-size: 48px;
    font-weight: bolder;
}

.feedback-subtext {
    color: #6b7280;
    font-size: 24px;
    padding-left: 250px;
    padding-right: 250px;
}

.customer-feedbacks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1.5rem 5%;
}

.feedback-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    background-repeat: no-repeat;
    padding: 20px;
}

.feedback-text {
    color: black;
    font-size: 18px;
    
}

.feedback-text-special {
    color: #fff;
    font-size: 18px;
}

.feedback-card-special{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #17c2ec;
    border-radius: 20px;
    background-repeat: no-repeat;
    padding: 20px;
}



.customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.customer-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.customer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.customer-info p {
    margin: 0;
}

.customer-name {
    color: black;
    font-size: 24px;
}

.customer-location {
    color: #6b7280;
    font-size: 12px;
    font-weight: bold;
}

.customer-name-special {
    color: #fff;
    font-size: 24px;
}

.customer-location-special {
    color: #fff;
    font-size: 12px;
}

.feedback-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #17c2ec;
    padding: 2rem 5%;
    border-radius: 50px;
    width: 50%;
    shadowbox: 0 0 15px #6b7280
}

.quote-title {
    color: #fff;
    font-size: 48px;
    font-weight: bolder;
}

.quote-subtitle {
    color: #fff;
    font-size: 24px;
}

.quote-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.quote-input input {
    width: 100%;
    padding: 20px 24px;
    background-color: #e5e7eb;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    color: #6b7280;
    outline: none;
}

.quote-input img {
    width: 50px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    object-fit: cover;
    background-color: black;
    padding: 4px 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
}

.footer nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
  
.footer nav ul li {
    color: #fff;
}

.footer-soc-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}